/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  height: 100%;
}

/* header */
h1{
  background-color:rgb(253, 223, 211);
  padding:40px;
  color:rgb(131, 73, 121);
  text-transform: uppercase; 
}


/* Utilities */

html{
  background-color:rgb(206, 170, 154)
}

.flex{
   display:flex;
   justify-content:center;
   align-items: center;
}

/* body */

.container {
  padding: 0 12vh;
  width: 100%;
  display:grid;
}

.dog{
  padding:40px;
  width:40vh;
  height:40vh;
}

/* input{
   color:black;
   background-color:rgb(247, 240, 233);
   border-radius:20%;
   
}

label{
  font-size: larger;
} */

.inputs{
  padding: 15px;
  font-size: 16px;
  margin-top: 20px;
  cursor: pointer;
  border: 1px solid;
  border-radius: 5px;
  width: 50%;
}

label {
  color:white;
  font-size: 40px;
  margin: 16px 0px;
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.button2:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}