/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  height: 100%;
}

/* header */
h1{
  background-color:rgb(253, 223, 211);
  padding:40px;
  color:rgb(131, 73, 121);
  text-transform: uppercase; 
}


/* Utilities */

html{
  background-color:rgb(206, 170, 154)
}

.flex{
   display:flex;
   justify-content:space-around;
   flex-direction:column;
}

/* body */

.container {
  padding: 0 12vh;
  width: 100%;
  display:inline-block;
}

.dog{
  width:30%;
}